html{
    direction: rtl;
}
#page-wrapper {
    /* position: absolute; */

    right: 0px;
    left:0px;
    /* width: -webkit-fill-available; */
}
.top-left-part {
    width: 220px;
    float: right;
}
.navbar-right {
    float: left!important;
    margin-right: -7px;
}
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: right;
    direction: rtl;
}
.bg-title .breadcrumb {

    float: left;
}
.bg-title h4 {

    margin-right: 12px;
}
.row {
    margin-right: 7.5px;

}
.float_rtl{
    float: right;
    margin-left: 15px;
}
.sidebar .arrow {
    right: 200px;
    float: left;
}
.sidebar #side-menu .user-pro .arrow {

    right: 200px;
}
.container-fluid {
    /* padding-left: 25px; */
    padding-right: 18px;
    padding-bottom: 15px;
}
.sidebar .fa.arrow:before {
    content: "\f104";
}
@media (min-width: 768px){
    #page-wrapper {
        position: inherit;
        margin: 20px 100px 0 -59px;
        padding: 0px 95px;
        width:100%;
        /* width: -webkit-fill-available; */
    }
    .navbar-right .dropdown-menu {

        right:auto;
        left: 0px;
    }

    .footer {
        width:100%
    }
    .navbar-left {
        float: right!important;
    }
}
@media(max-width:768px) {
    #page-wrapper{
        min-height: 568px;
    }



}